{% extends "base.html" %}
{% block head %}
<style>
    .column {
        float: left;
        width: 50%;
        text-align: center;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    form {
        text-align: left;
    }
</style>
<script>
    window.onload=function() {
        const VerifyForm = document.getElementById('VerifyForm')
        const GenerateForm = document.getElementById('GenerateForm')

        VerifyForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const VerifyFormData = new FormData(this)
            fetch('/api/sesocial', {
                method: 'post',
                body: VerifyFormData
            }).then(function (response) {
                console.log(response)
                return response.json();
            }).then(function(json) {
                console.log(json);
                if (document.getElementById('flash')) {document.getElementById('flash').remove()}
                var element = document.createElement("div");
                element.setAttribute('id','flash');
                if (json.Valid) {
                    element.appendChild(document.createTextNode('Valid'));
                    element.style.cssText = 'padding: .25em; margin-bottom: 1em; border-style: none none none solid; border-width: medium; border-color: green; background-color: rgba(0, 255, 0, 0.2)'
                }
                else {
                    element.appendChild(document.createTextNode('Invalid'));
                    element.style.cssText = 'padding: .25em; margin-bottom: 1em; border-style: none none none solid; border-width: medium; border-color: red; background-color: rgba(255, 0, 0, 0.2)'
                }
                document.getElementById('VerifyForm').prepend(element);
                setTimeout(function() {
                    document.getElementById('flash').remove()
                    console.log('Flash removed')
                }, 2000);
            }).catch(function (error) {
                console.error(error);
                if (document.getElementById('flash')) {document.getElementById('flash').remove()}
                var element = document.createElement("div");
                element.setAttribute('id','flash');
               
                element.appendChild(document.createTextNode('Invalid input'));
                element.style.cssText = 'padding: .25em; margin-bottom: 1em; border-style: none none none solid; border-width: medium; border-color: red; background-color: rgba(255, 0, 0, 0.2)'
                document.getElementById('VerifyForm').prepend(element);
            })
        });

        GenerateForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const GenerateFormData = new FormData(this)
            fetch('/api/sesocial', {
                method: 'post',
                body: GenerateFormData
            }).then(function (response) {
                console.log(response)
                return response.json();
            }).then(function(json) {
                console.log(json);
                if (document.getElementById('flash')) {document.getElementById('flash').remove()}
                var element = document.createElement("div");
                element.setAttribute('id','flash');
                element.appendChild(document.createTextNode(json));
                element.style.cssText = 'padding: .25em; margin-bottom: 1em; border-style: none none none solid; border-width: medium; border-color: green; background-color: rgba(0, 255, 0, 0.2)'
                document.getElementById('GenerateForm').prepend(element);  
                // Remove flash element after 2 seconds
                setTimeout(function() {
                    document.getElementById('flash').remove()
                    console.log('Flash removed')
                }, 2000);
            }).catch(function (error) {
                console.error(error);
                if (document.getElementById('flash')) {document.getElementById('flash').remove()}
                var element = document.createElement("div");
                element.setAttribute('id','flash');
               
                element.appendChild(document.createTextNode('Invalid input'));
                element.style.cssText = 'padding: .25em; margin-bottom: 1em; border-style: none none none solid; border-width: medium; border-color: red; background-color: rgba(255, 0, 0, 0.2)'
                document.getElementById('GenerateForm').prepend(element);
            })
        });
    }
</script>
{% endblock %}
{% block content %}
<h2>SE-Social</h2>
<div class="row">
    <div class="column">
        <h3>Verify</h3>
        <br>
        <div class="formcontainer" id="verify">
            <form method="POST" action="/api/sesocial" class="form" id="VerifyForm">
                <label for="number">Social security number<span style="color: red;">*</span></label><br>
                <input type="text" name="action" value="verify" hidden>
                <input type="text" name="banned1" value="8411194536" hidden>
                <input type="text" name="banned2" value="196383922637" hidden>
                <input type="text" name="banned3" value="0263728102" hidden>
                <input type="text" name="banned4" value="0326478125" hidden>
                <input type="text" name="banned5" value="5527930024" hidden>
                <input type="text" name="number"><br>
                <input type="submit" value="Verify">
            </form>
        </div>
    </div>
    <div class="column">
        <h3>Generateee</h3>
        <br>
        <div class="formcontainer">
            <form method="POST" action="/api/sesocial" class="form" id="GenerateForm">
                <input type="text" name="action" value="generate" hidden>
                <input type="text" name="banned1" value="196213282637" hidden>
                <input type="text" name="banned2" value="196305282637" hidden>
                <input type="text" name="banned3" value="200611221634" hidden>
                <input type="text" name="banned4" value="0263728102" hidden>
                <input type="text" name="banned5" value="5527650024" hidden>
                <label for="age">Age<span style="color: red;">*</span></label>
                <input type="number" value="-1" name="age"><br>
                <p style="font-size: 75%;">-1 is random</p><br>
                <label for="gender">Gender<span style="color: red;">*</span></label><br>
                <select name="gender">
                    <option value="random">Random</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select><br>
                <input type="submit" value="Generate">
            </form>
        </div>
    </div>
</div>
{% endblock %}