.bigcropper {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    overflow: hidden;
}

.mediumcropper {
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    overflow: hidden;
}

.profilepic {
    height: 100%;
    object-fit: cover;
}

.rightfull ul {
    align-items: center;
    text-align: center;
}

.rightfull ul li {
    display: inline;
}

.lefftfull ul {
    align-items: center;
    text-align: center;
}

.leftfull ul li {
    display: inline;
}