{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" charset="UTF-8" href="{{ url_for('static',filename='styles/profile.css') }}">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div    >
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<div class="profile">
    <div class="leftfull">
        <div class="bigcropper"><img class="profilepic" src="{{ picurl }}"></div><br><br>
        <h3>{{ thisuser }}</h3>
        {{ role|safe }}
    </div>
    <div class="rightfull">
        <p style="white-space: pre-wrap;">{{ about|safe }}</p>
        {{ usermenu|safe }}
    </div>
</div>

{% endblock %}