{% extends "base.html" %}

{% block content %}
<h2>Sign up</h2>
<br>
<div class="formcontainer">
    <form method="post" class="form">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="padding: .25em; margin-bottom: 1em; border-style: none none none solid; border-width: medium; border-color: red; background-color: rgba(255, 0, 0, 0.2);">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <label for="name">Name<span style="color: red;">*</span></label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="username" >Username<span style="color: red;">*</span></label><br>
        <input type="text" id="username" name="username" onkeyup="return forceLower(this);" required><br>
        <label for="password">Password<span style="color: red;">*</span></label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="password2">Repeat password<span style="color: red;">*</label>
        <input type="password" id="password2" name="password2" required><br>
        <p style="font-size: 0.85em;"><span style="color: red;">*</span>Required fields</p>
        <input type="submit" value="Submit" onSubmit="return validate();">
    </form><br>
    <p><a href="{{ url_for('auth.login') }}">Log in</a></p>
</div>
{% endblock %}